<h2>Forgot Your Password?</h2>

<%= form_with url: password_reset_path do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.submit "Reset Password" %>
  </div>
<% end %>
