<% content_for :title, "Editing book" %>

<h1>Editing book</h1>

<%= render "form", book: @book %>

<br>

<div>
  <%= link_to "Show this book", user_book_path %> |
  <%= link_to "Back to books", user_books_path %>
</div>
